*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    background-color: #171616;
}
body{
    margin-left:8%;
    margin-right:8%;
    font-family: 'halvetica';
    padding-top: 1%;
    color: #E2E8F0;
}
header{
    height: 20%;
    font-size: larger;
    padding:1.5% 9%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    border-bottom: 2px solid #EBFF24;

}
.logo{
    padding-left:-5%;
}
.social img{
    padding-right:18% ;
    width: 50%;
}
.social{
    display: flex;
    flex-direction: row;   
}
main{
    padding:3% 2%;
}

.subject{
    white-space: nowrap;
    font-size:1.2rem ;
}

footer{
    padding:2% 2%;

}
span{
    color: #E2FF6F;
}
.playButton{
    margin: 1rem 0;
}
